body {
    min-width: 1020px;
    color: #333333;
    background-color: #fff;
}

.list-group-item.milestone-list-item {
    padding-left: 75px;
    color: #000;
}

.milestone-list-item:hover {
    background-color: #f4f4ff;
}


.list-group-item.milestone-list-item .title {
    font-size: large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 150px;
}

.days-left {
    font-size: xx-large;
    position: absolute;
    left: 15px;
    top: 1px;
}

.days-left.overdue {
    color: red;
}

.small {
    font-size: small;
}

.milestone-progress {
    float: right;
    width: 200px;
    position: relative;
}

.milestone-activity {
    float: right;
    width: 150px;
    height: 20px;
    margin-right: 20px;
    position: relative;
}

.milestone-progress.small {
    margin-top: -4px;
}

.milestone-activity.small {
    margin-top: -4px;
}

.days-left.small {
    top: 6px;
}

.milestone-progress .progress {
    height: 20px;
    margin-bottom: 0px;
}

.milestone-progress .percent-label {
    position: absolute;
    top: 2px;
    left: 4px;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    font-size: 12px;
}

.badge.tag {
    margin-right: 2px;
}

.badge.tag.filter {
    cursor: pointer;
}

.badge.tag.filter.active {
    background-color: #22f;
}

.milestone-list-item .details {
    margin: 10px 0 5px 0;
}

.events .event:first-child {
    border-top: none;
}

.event {
    padding: 3px 0 1em 45px;
    overflow: hidden;
    position: relative;
    border-top: 1px solid #f1f1f1;
}

.events .event .time {
    font-size: 12px;
    color: #bbb;
}

.list-group-item.header {
    min-height: 28px;
    line-height: 1;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border: 1px solid #d5d5d5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
}

.container {
    padding-top: 5px;
}

.loading {
    margin: 5px;
}

.org-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tag-header {
    margin-bottom:3px;
    text-align: right;
}

.org-avatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.org-avatar img {
    display: inline-block;
    border-radius: 3px;
}

.org-title {
    font-size: 24px;
}
