<script type="text/ng-template" id="template-ms-short.html">
  <div class="days-left" ng-show="milestone.due_on" ng-class="{'overdue': (milestone.due_on | daysFromNow) < 0}" >{{ milestone.due_on | daysFromNow }}</div>
  <div class="milestone-progress">
    <progress percent="progress(milestone)"></progress>
    <span class="percent-label">{{ progress(milestone) | number:0 }}%</span>
  </div>
  <div class="milestone-activity">
    <activity-grid nodes="milestone.past7_activity" />
  </div>
  <div class="title">
    <span class="badge tag" ng-repeat="tag in parseBracketTags(milestone.title)">
      {{tag}}
    </span>
    <a href="{{ milestone.repo.html_url }}/issues?milestone={{ milestone.number }}">{{ stripBracketTags(milestone.title) }}</a>
  </div>
  <div ng-hide="true" class="details">
    <p class="ms-description-short">{{ milestone.description }}</p>
    <div class="events">
      <div class="event" ng-repeat="event in milestone.event_summaries | orderBy:'-last_modified' | limitTo:5 ">
	<div class="time">{{ event.last_modified | momentFromNow }}
	by [ <var ng-repeat="user in event.users">{{ user.login }} </var>]</div>
	<span><a href="{{ event.url }}" target="_blank">{{ event.title }}</a></span>
      </div>
    </div>
  </div>
</script>

<div class="org-header">
  <div class="org-avatar">
    <img class="img-responsive" ng-show="org_avatar_url" src="{{ org_avatar_url }}" />
  </div>
  <span class="org-title">{{ orgname }} Roadmap</span>
</div>
  <div class="loading" ng-show="!milestonesLoaded">Loading...</div>
  <div ng-show="milestonesLoaded && !milestones.length">
    We are trying to build a roadmap out of your repository
    milestones, but there are none!
  </div>
<ul id="milestones-upcoming" ng-show="milestonesLoaded && milestones.length" class="list-group milestones scheduled">
  <li class="list-group-item header small">
    <div class="days-left small">days left</div>
    <div class="milestone-progress small">progress</div>
    <div class="milestone-activity small">7d activity</div>
  </li>
  <li ng-show="milestonesLoaded" ng-click="toggleDetails(milestone)" class="list-group-item milestone-list-item" ng-repeat="milestone in milestones | filter:{due_on:'!!'} | orderBy:'due_on'">
    <div ng-include src="'template-ms-short.html'"></div>
  </li>
  <li ng-show="milestonesLoaded" href="" class="list-group-item milestone-list-item" ng-repeat="milestone in milestones | filter:{due_on:'!'} | orderBy:'due_on'">
    <div ng-include src="'template-ms-short.html'"></div>
  </li>
</ul>
