<!DOCTYPE html>
<html ng-app="gitmap">
  <head>
    <title>gitmap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/orgCtrl.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui-bootstrap-0.5.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui-bootstrap-tpls-0.5.0.js') }}"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/d3-grid.js') }}"></script>
    <base href="/app/">
  </head>
  <body>
    <div class="wrapper">
      <div class="header"></div>
      <div class="site">
	<div class="container">
	  <a class="pull-right" href="/logout">logout</a>
	  <div ng-view>
	  </div>
	</div>
      </div>
    </div>
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    
    <!-- Optionally enable responsive features in IE8
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/respond.js"></script>
    -->
    {% include 'analytics.html' ignore missing %}
  </body>
</html>
