<!DOCTYPE html>
<html ng-app="gitmap">
  <head>
    <title>gitmap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui-bootstrap-custom-0.4.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui-bootstrap-custom-tpls-0.4.0.js') }}"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="header"></div>
      <div class="site">
	<div class="container">
	  <h1>gitmap.net</h1>
	  <h3>roadmaps for github organizations</h3>
	  <a href="/auth" type="button" class="btn btn-default btn-large">get started</a>
	</div>
      </div>
    </div>
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    
    <!-- Optionally enable responsive features in IE8 -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/respond.js"></script>
  </body>
</html>
